# {{ nicholaspcole_systems_ansible_managed }}

[commit]
gpgsign = true

[core]
editor = vim
excludesfile = {{ git_core_excludesfile_path }}

[gpg]
format = ssh

[gpg.ssh]
allowedSignersFile = {{ git_gpg_ssh_allowedsignersfile_path }}

[init]
defaultBranch = main

[url "ssh://git@github.com/"]
insteadOf = https://github.com/

[url "ssh://git@gitlab.com/"]
insteadOf = https://gitlab.com/

[user]
email = {{ git_user_email }}
name = {{ git_user_name }}
signingkey = {{ ansible_user_dir }}/.ssh/id_ed25519.pub
